.tile {
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    background-color: white;
    width: 100%;
    border: 1px solid #d0d8e0;
    position: relative;
}

.search-tile-c {
    display: flex;
    flex-direction: row;
}

.left-border-supporting.loading {
    background: linear-gradient(90deg, #fcefc7, #e9b949);
    background-size: 400% 400%;
    -webkit-animation: Animation2 1.5s linear 1s infinite alternate;
    -moz-animation: Animation2 1.5s linear 1s infinite alternate;
    animation: Animation2 1.5s linear 1s infinite alternate;

    @-webkit-keyframes Animation2 {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
    @-moz-keyframes Animation2 {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
    @keyframes Animation2 {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
}
.left-border-supporting {
    // No height gives 100% height here
    width: 15px;
    border-radius: 5px 0 0 5px;
    margin: -1px; // tile border width
    background-color: #016457;
}

svg.icon {
    width: 30px;
    height: 30px;
}

svg.icon.h {
    width: 40px;
    height: 40px;
}

svg.icon.s {
    width: 20px;
    height: 20px;
}

.i-primary {
    fill: #334e68;
}

.i-secondary {
    fill: #a5b3bb;
}

.i-secondary.hovered:hover {
    fill: #334e68;
}

label,
.secondary-text {
    color: #334e68;
    font-size: 14px;
    font-weight: lighter;
}

.subtitle {
    color: #334e68;
    font-size: 18px;
    font-weight: normal;
}
