.divider {
    width: 25%;
    height: 2px;
    background-color: #d0d8e0;
    border-radius: 3px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button.primary {
    background-color: #186faf;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px;
}

.metro {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    position: relative;
}
.metro-sm {
    @extend .metro;
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin: initial;
}

.tooltipped .tooltiptext {
    background-color: inherit;
    color: inherit;
    font-size: 14px;
    font-weight: initial;
    visibility: hidden;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -18px;
    opacity: 0;
    transition: opacity 0.3s;
}

.triangle {
    display: block;
    height: 10px;
    width: 10px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    bottom: -4px;
    left: 14px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-45deg);
    border-radius: 3px;
}

.tooltipped:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.MU {
    background-color: #829ab1;
    color: black;
    fill: #829ab1;
    stroke: #829ab1;
}

.MSecondary {
    opacity: 0.25;
}

.M1 {
    background-color: #ffcd00;
    color: black;
    fill: #ffcd00;
    stroke: #ffcd00;
}

.M2 {
    background-color: #003ca6;
    color: white;
    fill: #003ca6;

    stroke: #003ca6;
}

.M3 {
    background-color: #837902;
    color: white;
    fill: #837902;
    stroke: #837902;
}

.M4 {
    background-color: #cf009e;
    color: white;
    fill: #cf009e;
    stroke: #cf009e;
}

.M5 {
    background-color: #ff7e2e;
    color: black;
    fill: #ff7e2e;
    stroke: #ff7e2e;
}

.M6,
.M7BIS {
    background-color: #6eca97;
    color: black;
    fill: #6eca97;
    stroke: #6eca97;
}

.M7 {
    background-color: #fa9aba;
    color: black;
    fill: #fa9aba;
    stroke: #fa9aba;
}

.M8 {
    background-color: #e19bdf;
    color: black;
    fill: #e19bdf;
    stroke: #e19bdf;
}

.M9 {
    background-color: #b6bd00;
    color: black;
    fill: #b6bd00;
    stroke: #b6bd00;
}

.M10 {
    background-color: #c9910d;
    color: black;
    fill: #c9910d;
    stroke: #c9910d;
}

.M11 {
    background-color: #704b1c;
    color: white;
    fill: #704b1c;
    stroke: #704b1c;
}

.M12 {
    background-color: #007852;
    color: white;
    fill: #007852;
    stroke: #007852;
}

.M13,
.M3BIS {
    background-color: #6ec4e8;
    color: black;
    fill: #6ec4e8;
    stroke: #6ec4e8;
}

.M14 {
    background-color: #62259d;
    color: white;
    fill: #62259d;
    stroke: #62259d;
}

.MU,
.MSecondary,
.M1,
.M2,
.M3,
.M3BIS,
.M4,
.M5,
.M6,
.M7,
.M7BIS,
.M8,
.M9,
.M10,
.M11,
.M12,
.M13,
.M14 {
    stroke-width: 5px;
}

button.secondary {
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

/* SKELETON */
.skeleton-title {
    background: linear-gradient(90deg, #d9e2ec, #bcccdc);
    height: 19px;
    border-radius: 3px;
}

.skeleton-subtitle {
    background: linear-gradient(90deg, #f0f4f8, #d9e2ec);
    height: 15px;
    border-radius: 3px;
}

.skeleton-circle {
    background: linear-gradient(90deg, #f0f4f8, #d9e2ec);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.skeleton {
    background-size: 400% 400%;

    -webkit-animation: Animation 1s linear 1s infinite alternate;
    -moz-animation: Animation 1s linear 1s infinite alternate;
    animation: Animation 1s linear 1s infinite alternate;

    @-webkit-keyframes Animation {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
    @-moz-keyframes Animation {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
    @keyframes Animation {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
}
